$background-color: #E5E5E5;
$white-color: white;
$black-color: black;

$color-1: #52c9fb;
// $color-1: #0078D7;
$color-2: #C3DDF7;
$color-3: #C4C4C4;
$color-4: #F5F5F5;

$max-width: 1000px;
$min-height: 97vh;
$max-height: 100vh;